@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>Информация о компании</h2>
<h5>Хорошие цены Цены на многие лекарства и товары для красоты и здоровья на сайте Apteka.ru ниже, чем в среднем в аптеках. Мы получаем товары напрямую от производителей. Выходит, что товары, заказанные на Apteka.ru, поступают в аптеку напрямую с нашего склада без посредников или перекупщиков.</h5>
<h5>Огромный ассортимент На Apteka.ru огромное количество товаров – более 13 000! Лекарства, витамины, даже закваска для йогурта… У нас есть все – для мам и малышей, для красоты, для тех, кто собирает аптечку в отпуск, для автолюбителей, пенсионеров. Любые средства, даже самые редкие, – непременно найдутся!</h5>


<p>Use this area to provide additional information.</p>
