@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <p>
        Номер телефона: @Html.TextBox("PhoneNumber", ViewBag.PhoneNumber as string)
        <input type="submit" value="Вход" />
    </p>
}

@Html.ActionLink("Регистрация", "Register", "User")
